@import '__dimen';

.Navbar__container {
  // background-color: rgb(236, 244, 255);
  // position: absolute;
  // z-index: 1;
  width: 100%;
  max-width: 100% !important;
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid rgb(229, 229, 229);
}

// .Navbar__container div {
//   border: 1px solid red;
// }

.Navbar__heading {
  display: flex;
  align-items: center;
}

.Navbar__info {
  display: flex;
  align-items: center;
}

.ml-1 {
  margin-left: $padding-1 !important;
}